<div class="d-flex justify-content-center my-3">
    <h1>Add a new restaurant</h1>
</div>
<div class="d-flex justify-content-center">
    <%= render 'form', restaurant: @restaurant %>
</div>
<div class="d-flex justify-content-center my-3">
    <%= link_to 'Home', restaurants_path %>
</div>
